.about-container {
    height: 100vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    width: 60rem;
}


.quote {
    font-size: 2.6em;
    font-family: "Nothing You Could Do", sans-serif;
    text-align: left;
    text-justify: inter-character;
    margin-bottom: 5rem;
}

.author {
    text-align: right;
    margin-right: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}


.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: middle;
    height: 30rem;
    width: 100%;
}

.info-container p {
    text-align: left;
}

.info-container .row {
    height: 30rem;
    align-content: center;
}

.info-container .col {
}

.about-text {
    font-size: 1.35em;
}

