.about-container {
    height: 100vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    width: 60rem;
}


.quote {
    font-size: 2.6em;
    font-family: "Nothing You Could Do", sans-serif;
    text-align: left;
    text-justify: inter-character;
    margin-bottom: 5rem;

    animation: fadeInAnimation cubic-bezier(.65,1.06,.77,.96) 1.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.author {
    text-align: right;
    margin-right: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    opacity: 0;

    animation: fadeInAnimation cubic-bezier(.65,1.06,.77,.96) 1.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}


.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: middle;
    height: 30rem;
    width: 100%;
}

.info-container p {
    text-align: left;
}

.info-container .row {
    height: 30rem;
    align-content: center;
}

.info-container .col {
}

.about-text {
    font-size: 1.35em;
}

.col-img {
    width: 100%;
    margin-bottom: 2rem;
}

