.newPoint-btn {
    border: 1px dashed white;
    border-radius: 7px;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newPoint-btn span {
    font-size: 1.1em;
    margin-right: 1rem;
    letter-spacing: 0.12em;;
}

.newPoint-btn:hover {
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}

