.list-container {
    display: flex;
    justify-content: space-between;
}

.journey-title {
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.small-map {
    width: 22rem;
    height: 22rem;
    border: 1px solid white;
}

.list-header {
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 0.8em;
}

.journey-list a {
    text-decoration: none;
    color: rgb(229, 229, 229);
}

.journey-list a:hover {
    /* text-decoration: none; */
    color: rgb(165, 165, 165);
}


