.list-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.journey-title {
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.small-image {
    width: 8rem;
    height: 8rem;
    display:flex;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 0px 0px 0px 0.5px #ececec;
    -moz-box-shadow: 0px 0px 0px 0.5px #ececec;
    box-shadow: 0px 0px 0px 0.5px #ececec;
}

.list-header {
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 0.8em;
}

.journey-link {
    text-decoration: none;
    color: rgb(229, 229, 229);
}

.journey-link:hover {
    /* text-decoration: none; */
    color: rgb(165, 165, 165);
}

.journey-searchBar {
    padding: 0.5rem;
    width: 95%;

}

.journey-image {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    animation: journeyAnimate ease-out 1.2s;
    /* animation */
}

.summary {
    margin-top: 1rem;
    display: flex;
    justify-content: left;
    overflow: hidden;
}

.summary p {
    font-size: 1.15em;
    text-align: left;
}

.dropdown-toggle {
    background-color: rgb(165, 165, 165, 0);
    border-color: rgb(165, 165, 165, 0);
}
.dropdown-toggle:hover{
    background-color: rgb(165, 165, 165, 0);
    border-color: rgb(165, 165, 165, 0);

}

.dropdown-toggle:active{
    background-color: rgb(165, 165, 165, 0);
    border-color: rgb(165, 165, 165, 0);

}

.dropdown-toggle::after {
    display: none !important; 
}

.dropdown-toggle .active .focus {
    background-color: yellow 
}

.delete-modal .modal-content {
    background-color: rgb(45, 45, 45);
    font-family: "Avenir", sans-serif;
    color: rgb(229, 229, 229);
}

.delete-modal .modal-header {
    border: unset;

}

.btn-close svg {
    color: rgb(229, 229, 229);
}

.delete-modal .modal-footer {
    border: unset;
}


@keyframes journeyAnimate {
    from {
        opacity: 0.2;
        filter: saturate(0);
    }

    to {
        opacity: 1;
        filter: saturate(1);
    }

}

input:focus{
    /* outline: none; */
    outline: 1px solid #786e29;
    /* border: 0px ; */
}

@media screen and (max-width: 1140px) {
    /* .small-image {
        width: 18rem;
        height: 18rem;
    } */

  }

@media screen and (max-width: 992px) {
    .image-column {
        display: none;
    }
}
