.point-container {
    height: 11rem;
    /* width: 28rem; */
    border-radius: 7px;
    background-color: #333333;
    margin-bottom: 1rem;
    padding: 1rem;
}

.point-mobile-container {
    height: 11rem;
    /* width: 28rem; */
    border-radius: 0px;
    background-color: #333333;
    margin-bottom: 1rem;
    padding: 1rem;
}

.point-direction-btn {
    height: 11rem;
    /* width: 28rem; */
    /* border-radius: 0px; */
    border-style: none;
    background-color: #333333;
    color: #9c9c9c;
    margin-bottom: 1rem;
    padding: 1rem;
}

.point-direction-btn:hover { 
    color: white;
}

.btn-left {
    border-radius: 7px 0px 0px 7px;
}

.btn-right {
    border-radius: 0px 7px 7px 0px;
}



.point-container:hover {
    background-color: #444444;
    cursor: pointer;
}

.innerContainer{ 
    /* width: 28rem; */
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.point-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.06em;
}

.button-dock {
    display: flex;
    justify-content: right;
}

.button-dock button,
.fp-close {
    color: #9c9c9c;
    pointer-events: all;
}

.date-location {
    font-size: 0.95em;
    font-weight: 400;
    /* font-weight: 200; */
    /* letter-spacing: 0.08em; */
    /* text-transform: uppercase; */
}
