.point-container {
    height: 10rem;
    /* width: 28rem; */
    border-radius: 7px;
    background-color: #333333;
    margin-bottom: 1rem;
    padding: 1rem;
   

}



.point-container:hover {
    background-color: #444444;
    cursor: pointer;
}

.innerContainer{ 
    /* width: 28rem; */
    height: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.point-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.06em;
}

.button-dock {
    display: flex;
    justify-content: right;
}

.button-dock button {
    color: #9c9c9c;
}
