.point-modal .modal-content {
    background-color: rgb(45, 45, 45);
    font-family: "Avenir", sans-serif;
    color: rgb(229, 229, 229);
}

.point-modal .modal-header {
    border: unset;

}

.btn-close svg {
    color: rgb(229, 229, 229);
}

.point-modal .modal-footer {
    border: unset;
}

.point-title, #pointNameInput {
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

#exampleFormControlTextarea1 {
    background-color: rgb(37, 37, 37);
    border: 0.5px solid gray;
    color: rgb(229, 229, 229);
}

input {
    background-color: rgb(37, 37, 37);
    border: 0.5px solid rgb(120, 120, 120);
    color:rgb(229, 229, 229);
    font-family: "Avenir", sans-serif;

}

/* #pointNameInput {
    text-transform: uppercase;
    letter-spacing: 0.12em;
} */

