.nav-container {
    display: flex;
    flex-direction: row;
    width: 15rem;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    margin: auto 1rem;
    color: rgb(229, 229, 229);
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75em;
}

.nav-item:hover {
    /* color: white; */
    color: rgb(165, 165, 165);

}

